/*toata pagina*/
html{
    font-size: 17px;
    color: rgb(218, 218, 218);
    background-color: black;
}
body{
    padding: 1.5rem;
    margin: 0;
}

/* imaginile de pe pagina*/
img{
    opacity:0.8;
}
img:hover{
    opacity:1;
}
/**/

/*sa nu apara numere inainte la liste*/
li{
    list-style-type: none;
}
/**/
/**/

/*headerul*/

header{
    display: flex;
    align-items: center;
}

header > h1{
    flex:1;
    font-family: 'Open sans';
    font-weight: 900;
    font-size: 2rem;
    text-align: center;

}
header>h1>span{
    font-style: italic;
    text-transform: uppercase;
    color: forestgreen;
}
header > img  {
    height: 5rem;
    object-fit: contain;
    position: fixed right;
}
header>img:hover {
    width: 200px;
    height: 200px;
    border-style: double;
}

/**/